*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Rose', cursive;
}
                        /* body part */
body{
    background-image: linear-gradient(
    rgba(0,0,0, 0.5),
    rgba(0,0,0, 0.5)), url(../assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    
   
    /* background-position: center; */
    
}
                    /* nav bar */
.logo{
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 70px;
    margin-top: 50px;
}
.navigation ul{
    display: flex;
    justify-content: space-between;
    gap: 80px;
   list-style: none;
   font-size: 20px;
   font-weight: bolder;
   font-family: "Red Rose";
   
   
   
}
a{
    text-decoration: none;
    cursor:pointer;
    
}
nav a{
    color:#e5b42c;

}
                    /* button */
button{
    height:60px;
    width: 150px;
    border-radius: 5px;
    font-size: x-large;
    background-color: #ff505f;
    color: white;
    padding: 13px 35px;
    font-weight: 700;

}
button:hover{
    background-color: white;
    color: #ff505f;
}
                                    /* hero_section */
.hero-section{
    
    font-size: 130px;
   text-align: center;
   font-family: "Dela Gothic One", cursive;
    color:  #ffc233;
    line-height: 130px;
    /* padding: 130px 0px; */
    margin:0 auto;
    margin-top: 120px;
    font-weight: 800;
    
}
.btn{
    text-align: center;
}
.btn button{
    margin-top:45px;
    height: 70px;
    width: 290px;
    border-radius: 5px;
    font-size: 25px;
    background-color:#ff505f;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.btn button:hover{
    background-color: white;
    color:#ff505f;
    border-top-left-radius:35px ;
    border-bottom-right-radius: 35px;
}
                                    /* bottom_image */

.scroll img{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 18%;
    
}